body {
    font-family: Arial, sans-serif;
 }
 
 img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
 }
 
 .list-group-item {
    cursor: pointer;
 }
 
 .btn-success {
    background-color: #3b7d4a !important;
 }
 
 .btn-success:hover {
    background-color: #4daf64 !important;
 }
 
 #track_details img {
    width: 150px;
    height: 150px;
 }
 
 #custom_playlist, #favorites {
    border: 1px solid #ddd;
    padding: 15px;
    min-height: 150px;
 }
 